{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 class="text-center"> Activities </h1>
    <br>
    <div class="container">
        <div class="row">
            <ul>
                {% for activity in activities %}
                    <li>
                        <a href="{% url 'activity_detail' activity.id %}"> {{ activity.detail }} </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
    <form method="POST" action="{% url 'activity' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div class="form-control">Detail: {{ form.detail }}</div>
            </div>

            <div class="col">
                <div class="form-control">Min-age: {{ form.min_age }}</div>
            </div>

            <div class="col">
                <div class="form-control">Max-age: {{ form.max_age }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-control">AddressNumber: {{ form.addressNumber }}</div>
            </div>

            <div class="col">
                <div class="form-control">AddressStreet: {{ form.addressStreet }}</div>
            </div>

            <div class="col">
                <div class="form-control">City: {{ form.city }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-control">State: {{ form.state }}</div>
            </div>

            <div class="col">
                <div class="form-control">Zip: {{ form.zip }}</div>
            </div>

            <div class="col">
                <div class="form-control">Author: {{ form.author }}</div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <input type="button" class="btn btn-secondary mx-5" value="Cancel" data-dismiss="modal"></input>
            <input type="submit" class="btn btn-primary" name="add" value="Add activity"></input>
        </div>
    </form>
</body>

</html>
{% endblock content %}