{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <br>
        <div class="row">
            <h1 class="col"> Activity Detail </h1>
            <div class="col">
                <h3>Update or Delete Activity Here</h3>
                <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="activty_id" label="delete" value="{{activity.id}}" />
                <input type="submit" name="delete" label="delete" value="Delete" />
                </form>
                <form method="POST">
                {% csrf_token %}
                {{ activity_form }}
                <input type="submit" name="update" label="update" value="Update" />
                </form>
            </div>
        </div>
        <br>
        <div>
            <p>{{ activity.detail }}</p>
            <p>{{ activity.min_age }}</p>
            <p>{{ activity.max_age }}</p>
            <p>{{ activity.addressNumber }}</p>
            <p>{{ activity.addressStreet }}</p>
            <p>{{ activity.city }}</p>
            <p>{{ activity.state }}</p>
            <p>{{ activity.zip }}</p>
        </div>
        <div class="row">
            {% for comment in activity_comment_list %}
                <p>{{ comment.content }}</p>
            {% endfor %}
        </div>
    </div>
    <br>
    <form method="POST" action="{% url 'activity_detail' activity.id %}">
        {% csrf_token %}
        {{ comment_form }}
        <input type="button" class="btn btn-secondary" value="Cancel" data-dismiss="modal"></input>
        <input type="submit" class="btn btn-primary" name="add" value="comment"></input>
    </form>
</body>

</html>
{% endblock content %}