{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WhatToDad</title>
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<!-- Body -->

<body class="bodyMain">
  <!-- Navigation -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light shadow" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><img class="" id="logo" src="{% static 'images/logo.jpg' %}" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item text-black">
            <a class="nav-link text-light font-weight-bold" href="{% url 'forumboard' %}">Fatherly Forum</a>
          </li>
          <li class="nav-item text-black">
            <a class="nav-link text-light font-weight-bold" href="{% url 'activity' %}">Activities</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </nav>
  <!-- Navigation -->

  {% block content %}
  {% endblock content %}
  <!-- container -->
  <div class="container mt-xl-5">

    <footer class="text-center text-lg-start border border-white mt-xl-5 pt-4 mb-4" id="footerMain">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 text-light">
            <h5 class="text-uppercase mb-4">OUR WORLD</h5>

            <ul class="list-unstyled mb-4">
              <p>
                <a href="#!" class="text-light">About us</a>
              </p>
              <p>
                <a href="#!" class="text-light">Our Mission</a>
              </p>
              <p>
                <a href="#!" class="text-light">Partners</a>
              </p>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 text-light">
            <h5 class="text-uppercase mb-4 text-light">Assistance</h5>

            <ul class="list-unstyled text-light">
              <p>
                <a href="#!" class="text-light">Contact us</a>
              </p>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase mb-4 text-light">Careers</h5>

            <ul class="list-unstyled">
              <p>
                <a href="#!" class="text-light">Jobs</a>
                </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase mb-4 text-light">Sign up to our newsletter</h5>

            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label text-light" for="form5Example2">Email address</label>
            </div>

            <button type="submit" class="btn btn-warning btn-block text-dark">Subscribe</button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3 border-top border-white text-light">
        © 2022 Copyright:
        <a class="text-black text-light" href="#">WhatToDad</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>

</body>
<!-- body end -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</html>