{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Form -->
<form method="POST">
  {% csrf_token %}
  {{ author_form }}
  <button type="submit" class="btn btn-light" name="author" value="author">Add Member</button>
</form>
<!-- Form end -->
<!-- Header -->
<header class="masthead">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7 d-flex justify-content-center">
        <div class="site-heading">
          <h1 class="text-white">WHAT TO DAD</h1>
          <h3 class="subheading text-white">A space where dads talk</h3>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header end -->

<!-- Container -->
<div class="container">
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8 mt-3 left">
      {% for post in post_list %}
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title text-light">{{post.title}}</h2>
          <p class="card-text text-light">{{post.content|slice:":200" }}</p>
          <a href="{% url 'post_action' post.id  %}" class="btn btn-light">Read More</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Blog Entries Column -->
    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock sidebar %}
  </div>
  <a href="{% url 'forumboard' %}">Visit our Fatherly Forum</a>
</div>
<!-- Container end -->
{%endblock%}