{% extends 'base.html' %}
{% block content %}

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7 mt-5">
      <!-- Post title-->
      <div class="post-preview mb-2">
        <h2 class="post-title font-weight-bold"><u>{{ post.title }}</u></h2>
        <h3 class="post-subtitle font-weight-light mt-4">{{ post.content }}</h3>
        <p class="post-meta text-secondary">
          Posted by
          <strong>
            {{ post.author }} on {{ post.created_on }}
          </strong>
        </p>
      </div>
      <!-- Post title end -->
      <hr class="my-4">
      <!-- Comment Box -->
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <strong>Click to</strong> 
            <a class="card-link" data-toggle="collapse" href="#comment">
            View Comments
            </a>
          </div>
          <div id="comment" class="collapse" data-parent="#accordion">
            {% for comment in post_comment_list %}
            <div class="card-body">
              <p>{{ comment.content }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
        <br>
      </div>
      <!-- Comment Box end -->
      
  <!-- Button trigger modal -->
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-warning mr-5" data-toggle="modal" 
    data-target="#staticBackdrop">Edit Post
    </button>
    <form method="POST" action="{% url 'post_action' post.id %}">
      {% csrf_token %}
      {{ post_comment_form }}
      <button type="button" class="btn btn-secondary" value="Cancel">Cancel</button>
      <button type="submit" class="btn btn-info" name="add" value="comment">Comment</button>
    </form>
  </div>
  <!-- Button trigger modal -->
</div>

<!-- Modal Form-->
<form method="POST">
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="post-title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="post-title">
            <label for="id_title">Title:</label>
            {{ form.title }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST">
          <div class="modal-body">
            {% csrf_token %}
            <label for="id_content">Content:</label>
            <h5>{{ form.content }}</h5>
            <label for="id_author">Author:</label>
            <h5>{{ form.author }}</h5>
          </div>
        </form>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info" name="update" label="update" value="Update">Update</button>
          <button type="submit" class="btn btn-danger" name="delete" label="delete" value="delete">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Modal Form end -->
{% endblock content %}