{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header d-flex justify-content-center">Important Fatherly Topics</h5>
        <div class="card-body">
            <ol>
                <li>
                    <a class="mt-4" href="https://www.helpguide.org/articles/ptsd-trauma/helping-children-cope-with-traumatic-stress.htm">Childhood Insomnia and Sleep Problems</a>
                </li>
                <li>
                    <a class="mt-4" href="https://www.helpguide.org/articles/anxiety/separation-anxiety-and-separation-anxiety-disorder.htm">Separation Anxiety Disorder</a>
                </li>
                <li>
                    <a class="mt-4" href="https://www.helpguide.org/articles/diets/childhood-obesity-and-weight-problems.htm">Childhood Obesity and Weight Problems</a>
                </li>
                <li>
                    <a class="mt-4" href="https://www.helpguide.org/articles/ptsd-trauma/helping-children-cope-with-traumatic-stress.htm">Helping Children Cope with Traumatic Events</a>
                </li>
            </ol>            
        </div>
    </div>
</div>

{% endblock sidebar %}